
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class='pm-button'>
            <a href='https://www.payumoney.com/paybypayumoney/#/791FD419D0E8E6EE4EBA4E2F658FAE9F'>
                <img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' />
            </a>
        </div>
    </div>
</body>
</html>
